<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<% if logged_in? %>
	You are currently logged in as: <%=current_user.name %>
	<%= link_to "Log out", logout_path, method: :delete %>
<% end %>


<p class="flash"><%= flash.notice %></p>
</div>
<%= yield %>

</body>
</html>
